<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tfh.blog.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.tfh.blog.pojo.Role">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_name,description
    </sql>
    <select id="getRoleInformation" resultType="com.tfh.blog.pojo.Role">
        select * from role
    </select>
    <select id="getPermissionInformation" resultType="com.tfh.blog.pojo.Authority">
        select * from authority where role_id = #{roleId}
    </select>

    <select id="getRoleBasedOnUserId" resultType="java.lang.String">
        select role_name from role where id in (select role_id from user_role where user_id = #{userId})
    </select>
</mapper>
